* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #202020;
  &__box {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__link{
    color: aliceblue;
    text-decoration: none;
    font-size: 26px;
  }
}
